{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">About Us</div>
        <div class="card-body">
            2A Firearms was established in 2018 with the mission of educating Minnesotans about obtaining a Permit to
            Carry. We are family owned and operated based locally in the Twin Cities Metro area. Our mission is to offer
            a safe and comfortable training environment for everyone, regardless of the level of firearms experience.
        </div>
    </div>
{% endblock %}
