$primary: #a90000;

//@import "~bootstrap/scss/bootstrap";
//@import "~@fortawesome/fontawesome-free/css/all.min.css";

$primary: #333a41;
$secondary: lighten($primary, 10%);
$lightGray: #e1e1e1;
$accent: #c08657;


body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    background: #efefef;

    .darker-breadcrumb {
        color: #ffffff !important;
        border-radius: 0 !important;
        background: $secondary !important;


        a {
            color: #ffffff;
        }

        .active {
            color: $lightGray !important;
        }
    }

    .review {
        .review-stars {
            color: #daa520;
        }
    }

    .index {
        .show-case {
            margin-top: -16px;
            border-radius: 0px;
        }
    }

    #mainNav {
        #logoImage {
            width: 138px;
            height: 47px;
        }

        #avatar {
            width: 20px;
            margin-top: -6px;
        }

        .active {
            .nav-link a {
                color: rgba(255, 255, 255, 1) !important;
            }
        }

        .nav-item {
            .nav-link a {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    .register {
        margin-top: 10px !important;
    }

    #login {
        background: #ffffff;
        border: 1px solid darken(#e1e1e1, 10%);
        margin: 25% auto 10px auto;
        padding: 20px 30px 20px 30px;
        box-shadow: 1px 1px 10px -4px #1b1e21;

        input {
            max-width: 100% !important;
        }

        label {
            margin-bottom: 0;
        }

        #button-section {
            border-top: 1px solid darken(#e1e1e1, 10%);
            margin: 0 0 -20px -30px;
            padding: 10px 30px 10px 30px;
            width: calc(100% + 60px);
            background: #e3eaed;
            text-align: right;
        }
    }


    .footer-bs {
        background-color: $primary;
        padding: 60px 40px;
        color: rgba(255, 255, 255, 1.00);
        margin-top: 20px;
        margin-bottom: 0px !important;

        .footer-brand, .footer-nav, .footer-social, .footer-ns {
            padding: 10px 25px;
        }

        .footer-nav, .footer-social, .footer-ns {
            border-color: transparent;
        }

        .footer-brand {
            img {
                width: 150px;
                height: auto;
            }

            p {
                font-size: 12px;
                color: rgba(255, 255, 255, 0.70);
            }
        }

        .footer-nav {
            h4 {
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-bottom: 10px;
            }

            ul {
                list-style: none;
                padding: 0px;

                li {
                    padding: 5px 0px;
                }

                a {

                }
            }
        }

        .footer-social {
            h4 {
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            ul {
                list-style: none;
                padding: 0px;

                li {
                    padding: 5px 4px;
                }
            }

            a {
                color: rgba(255, 255, 255, 1.00);

                &:hover {
                    color: rgba(255, 255, 255, 0.80);
                    text-decoration: none;
                }
            }
        }

        .footer-ns {
            h4 {
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-bottom: 10px;
            }

            p {
                font-size: 12px;
                color: rgba(255, 255, 255, 0.70);
            }

        }
    }


    .footer-bs .footer-nav ul.pages a {
        color: rgba(255, 255, 255, 1.00);
        font-weight: bold;
        text-transform: uppercase;
    }

    .footer-bs .footer-nav ul.pages a:hover {
        color: rgba(255, 255, 255, 0.80);
        text-decoration: none;
    }

    .footer-bs .footer-nav ul.list {
        list-style: none;
        padding: 0px;
    }

    .footer-bs .footer-nav ul.list li {
        padding: 5px 0px;
    }

    .footer-bs .footer-nav ul.list a {
        color: rgba(255, 255, 255, 0.80);
    }

    .footer-bs .footer-nav ul.list a:hover {
        color: rgba(255, 255, 255, 0.60);
        text-decoration: none;
    }

    @media (min-width: 768px) {
        .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
            border-left: solid 1px rgba(255, 255, 255, 0.10);
        }
    }
}
