<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Gun trading and selling">
    <meta name="Keywords" content="guns, guns.com">
    <meta http-equiv="Cache-Control" content="public, max-age=31536000">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Guns.com - Integrations Admin Panel</title>
    <link rel="shortcut icon" href="https://www.guns.com/images/favicon/favicon.ico">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
{{ include("components/navbar.html.twig") }}

<main class="container">
    {% block body %}

    {% endblock %}
</main>

{{ include("components/footer.html.twig") }}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>