{% extends 'base.html.twig' %}

{% block body %}
    <div class="index">
        <div class="jumbotron show-case">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to
                featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body review">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem
                            consectetur debitis, enim expedita illo ipsum laboriosam laborum laudantium, magnam minima
                            pariatur quaerat quos sint, vitae. Dignissimos dolores eos nisi.</p>
                        <h5 class="float-left">Tim Hinz</h5>

                        <div class="float-right review-stars">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body review">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem
                            consectetur debitis, enim expedita illo ipsum laboriosam laborum laudantium, magnam minima
                            pariatur quaerat quos sint, vitae. Dignissimos dolores eos nisi.</p>
                        <h5 class="float-left">Tim Hinz</h5>

                        <div class="float-right review-stars">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star-half-alt"></i></i><i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
